/* Css selector for code without a class */
code:not([class]) {
  /* Light theme */
  /* color: #a31515; */

  /* Dark theme */
  color: #d7ba7d;
}

.reveal p {
  text-align: left;
}
.reveal ul {
  display: block;
}
.reveal ol {
  display: block;
}

h2 {
  text-align: left;
}

.reveal blockquote p:last-child:has(cite){
  display: block;
  text-align: right;
  padding-right: 10px;
}

.reveal table.--with-cells th,td{
  border: 1px solid silver;
}

.reveal table.--with-cells tbody tr:last-child td{
  border-bottom: 1px solid silver;
}